html {
  scroll-behavior: smooth;
}

* {
  user-select: none;
}

.span {
  color: blueviolet;
}

.secondspan {
  color: blueviolet;
  font-size: 1 rem;
}

.thirdspan {
  color: blueviolet;
  font-size: 1rem;
}

.image-top-second {
  width: 28px;
  position: relative;
  top: -58px;
  left: -12px;
}

.vertical-text-second {
  position: relative;
  top: 20px;
  left: -72px;
  width: 150px;
}

.vertical-desc-second {
  position: relative;
  top: 25px;
  left: -84px;
  font-size: 12px;
  width: 200px;
  color: blueviolet;
}

.image-top-third{
  width: 32px;
  position: relative;
  top: -36px;
  left: -16px;
}

.vertical-text-third {
  position: relative;
  top: 39px;
  left: -72px;
  width: 150px;
}

.vertical-desc-third {
  position: relative;
  top: 43px;
  left: -84px;
  font-size: 12px;
  width: 200px;
  color: blueviolet;
}